.app-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    &__form {
        width: 600px;
        box-shadow: -1px 1px 5px 9px rgb(0 0 0 / 10%);
        padding: 30px;

        
        .mat-form-field {
            width: 100%;
            margin-bottom: 20px;
        }

        &-action {
            margin-top: 5px;
        }
    }
}
