<div class="exam-list">
    <div class="exam-list__header">
        <h1>Exam List</h1>
    </div>
    <div class="exam-list__table">
        <table>
            <thead>
                <th>Exam ID</th>
                <th>Exam Name</th>
                <th>No. of Questions</th>
                <th>Exam Time</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of exmalist">
                    <td>
                        {{data?.id}}
                    </td>
                    <td>
                        {{data?.name}}
                    </td>
                    <td>
                        {{data?.totalquestion}}
                    </td>
                    <td>
                        {{data?.time}} (Mins)
                    </td>
                    <td>
                        <button mat-raised-button color="accent" (click)="attemptExam(data?.id)">Attempt</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="exmalist?.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </div>
</div>